interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupGroup&url=https%3A%2F%2Fwww.flickr.com%2Fgroups%2Fslovenia%2Fpool%2F
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<group
      id=\"31849566@N00\">\n\t<groupname>Slovenia</groupname>\n</group>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname&group_id=31849566%40N00&method=flickr.groups.pools.getPhotos&page=1&per_page=10
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"4448\" perpage=\"10\" total=\"44474\">\n\t<photo id=\"53310980391\"
      owner=\"144551122@N04\" secret=\"ba940b43f9\" server=\"65535\" farm=\"66\" title=\"SZ
      541.013 pk + 541.105 vl., Hrastovlje 3. \u010Dervence 2019\" ispublic=\"1\"
      isfriend=\"0\" isfamily=\"0\" ownername=\"Pavel \u0160turm\" dateadded=\"1699195622\"
      license=\"0\" safety_level=\"0\" dateupload=\"1699195535\" datetaken=\"2019-07-03
      13:32:26\" datetakengranularity=\"0\" datetakenunknown=\"0\" realname=\"Pavel
      \u0160turm\" originalsecret=\"9a0d440875\" originalformat=\"jpg\" media=\"photo\"
      media_status=\"ready\" url_sq=\"https://live.staticflickr.com/65535/53310980391_ba940b43f9_s.jpg\"
      height_sq=\"75\" width_sq=\"75\" url_t=\"https://live.staticflickr.com/65535/53310980391_ba940b43f9_t.jpg\"
      height_t=\"67\" width_t=\"100\" url_s=\"https://live.staticflickr.com/65535/53310980391_ba940b43f9_m.jpg\"
      height_s=\"160\" width_s=\"240\" url_m=\"https://live.staticflickr.com/65535/53310980391_ba940b43f9.jpg\"
      height_m=\"333\" width_m=\"500\" url_o=\"https://live.staticflickr.com/65535/53310980391_9a0d440875_o.jpg\"
      height_o=\"1067\" width_o=\"1600\" url_q=\"https://live.staticflickr.com/65535/53310980391_ba940b43f9_q.jpg\"
      height_q=\"150\" width_q=\"150\" url_l=\"https://live.staticflickr.com/65535/53310980391_ba940b43f9_b.jpg\"
      height_l=\"683\" width_l=\"1024\">\n\t\t<description>Jedna z m\xE1la reklamn\xEDch
      lokomotiv ve Slovisnku je \u201E\u017Diva\u201C 541.013 s reklamn\xEDm polepem
      na limon\xE1du Almdudler (jedn\xE1 se o rakouskou limon\xE1du, kter\xE1 je vyr\xE1b\u011Bn\xE1
      s vyu\u017Eit\xEDm alpsk\xFDch bylin). Lokomotiva byla zachycena 3. \u010Dervence
      2019 na postrku n\xE1kladn\xEDho kontejnerov\xE9ho vlaku jedouc\xEDho z p\u0159\xEDstavu
      Koper do vnitrozem\xED Slovinska a d\xE1le do Rakouska. V t\u011Bchto kontejnerech
      se p\u[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
