interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Cowner_name%2Cpath_alias%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o&group_id=31849566%40N00&method=flickr.groups.pools.getPhotos&page=1&per_page=5
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"8878\" perpage=\"5\" total=\"44388\">\n\t<photo id=\"53230738516\"
      owner=\"11219094@N02\" secret=\"6bac025b56\" server=\"65535\" farm=\"66\" title=\"Slowenien
      - Lipica Gest\xFCt\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" ownername=\"www.nbfotos.de\"
      dateadded=\"1696317970\" license=\"0\" dateupload=\"1696317885\" datetaken=\"2022-09-29
      13:45:46\" datetakengranularity=\"0\" datetakenunknown=\"0\" media=\"photo\"
      media_status=\"ready\" url_sq=\"https://live.staticflickr.com/65535/53230738516_6bac025b56_s.jpg\"
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
