interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=47265398%40N04
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
      id=\"47265398@N04\" nsid=\"47265398@N04\" ispro=\"0\" is_deleted=\"0\" iconserver=\"5462\"
      iconfarm=\"6\" path_alias=\"blueminds\" has_stats=\"0\" has_adfree=\"0\" has_free_standard_shipping=\"0\"
      has_free_educational_resources=\"0\">\n\t<username>Alexander Lauterbach Photography</username>\n\t<realname>Alexander
      Lauterbach</realname>\n\t<location>Kassel, Germany</location>\n\t<timezone label=\"Amsterdam,
      Berlin, Bern, Rome, Stockholm, Vienna\" offset=\"+01:00\" timezone_id=\"Europe/Amsterdam\"
      timezone=\"28\" />\n\t<description>Hi, I&#039;m Alex!\nI&#039;m a self-taught
      hobby photographer from Germany with a passion for landscape and cityscape photography.\n\nI\u2019ve
      started with digital photography and my first DSLR back in 2004. In the past
      couple of years, I\u2019ve more and more fallen in love with landscape photography.
      For me, photography became the best hobby I can imagine because of the combination
      of nature and creativity.\nI\u2019m always looking for nice moments and conditions[...]
