interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?gallery_id=72157621848008117&method=flickr.galleries.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<gallery
      id=\"5704-72157621848008117\" gallery_id=\"72157621848008117\" url=\"https://www.flickr.com/photos/george/galleries/72157621848008117\"
      owner=\"34427469121@N01\" username=\"George\" iconserver=\"1\" iconfarm=\"1\"
      primary_photo_id=\"347360201\" date_create=\"1249665258\" date_update=\"1440667798\"
      count_photos=\"13\" count_videos=\"0\" count_total=\"13\" count_views=\"12231\"
      count_comments=\"44\" sort_group=\"\" current_state=\"443b92541e6d4cab8d073342c862702f\"
      primary_photo_server=\"150\" primary_photo_farm=\"1\" primary_photo_secret=\"a6c0e5721f\">\n\t<title>Photographs
      I Like of People I Don&#039;t Know</title>\n\t<description />\n\t<cover_photos>\n\t\t<photo
      url=\"https://live.staticflickr.com/150/347360201_a6c0e5721f_q.jpg\" width=\"150\"
      height=\"150\" is_primary=\"1\" is_video=\"0\" />\n\t\t<photo url=\"https://live.staticflickr.com/2407/2456288552_3794a1ba27_q.jpg\"
      width=\"150\" height=\"150\" is_primary=\"0\" is_video=\"0\" />\n\t\t<photo
      url=\"https://live.staticflickr.com/2387/2178297354_a6f6084173_q.jpg\" width=\"150\"
      height=\"150\" is_primary=\"0\" is_video=\"0\" />\n\t</cover_photos>\n</gallery>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Cowner_name%2Cpath_alias%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o&gallery_id=72157621848008117&method=flickr.galleries.getPhotos&page=1&per_page=10
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"2\" perpage=\"10\" total=\"13\">\n\t<photo id=\"2456288552\"
      owner=\"388[...]
