interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupGroup&url=https%3A%2F%2Fwww.flickr.com%2Fgroups%2Fbirdguide
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<group
      id=\"42637302@N00\">\n\t<groupname>Field Guide: Birds of the World</groupname>\n</group>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Curl_q%2Curl_l%2Crealname&group_id=42637302%40N00&method=flickr.groups.pools.getPhotos&page=1&per_page=100
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"2117\" perpage=\"100\" total=\"211664\">\n\t<photo id=\"53306979225\"
      owner=\"35437652@N02\" secret=\"40f491e722\" server=\"65535\" farm=\"66\" title=\"Male
      Waxwing\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" ownername=\"Frode Falkenberg\"
      dateadded=\"1699543693\" license=\"0\" dateupload=\"1699004437\"
      datetaken=\"2023-10-18 11:02:43\" datetakengranularity=\"0\" datetakenunknown=\"0\"
      realname=\"Frode Falkenberg\"
      media=\"photo\" media_status=\"ready\" url_sq=\"https://live.staticflickr.com/65535/53306979225_40f491e722_s.jpg\"
      height_sq=\"75\" width_sq=\"75\" url_t=\"https://live.staticflickr.com/65535/53306979225_40f491e722_t.jpg\"
      height_t=\"64\" width_t=\"100\" url_s=\"https://live.staticflickr.com/65535/53306979225_40f491e722_m.jpg\"
      height_s=\"153\" width_s=\"240\" url_m=\"https://live.staticflickr.com/65535/53306979225_40f491e722.jpg\"
      height_m=\"318\" width_m=\"500\" url_o=\"https://live.staticflickr.com/65535/53306979225_2f59d376bc_o.jpg\"
      height_o=\"2483\" width_o=\"3906\" url_q=\"https://live.staticflickr.com/65535/53306979225_40f491e722_q.jpg\"
      height_q=\"150\" width_q=\"150\" url_l=\"https://live.staticflickr.com/65535/53306979225_40f491e722_b.jpg\"
      height_l=\"651\" width_l=\"1024\">\n\t\t<description>Adult male Bohemian Waxwing
      &lt;i&gt;Bombycilla garrulus&lt;/i&gt; at Fedje in Western Norway, October 2023.</description>\n\t</photo>\n\t<photo
      id=\"53320682313\" owner=\"134815842@N03\" secret=\"aec26edc66\" server=\"65535\"
      farm=\"66\" title=\"Female Green Honeycreeper (Chlorophanes spiza) Dagua, Colombia
      2023\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" ownername=\"Ricardo Bitran\"
      dateadded=\"1699543446\" license=\"0\" dateupload=\"1699543303\"
      datetake[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
