interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupGroup&url=https%3A%2F%2Fwww.flickr.com%2Fgroups%2Fbirdguide
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<group
      id=\"42637302@N00\">\n\t<groupname>Field Guide: Birds of the World</groupname>\n</group>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname&group_id=42637302%40N00&method=flickr.groups.pools.getPhotos&page=1&per_page=10
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"21163\" perpage=\"10\" total=\"211621\">\n\t<photo id=\"53311401804\"
      owner=\"31003918@N05\" secret=\"fb3024e089\" server=\"65535\" farm=\"66\" title=\"Emerald-spotted
      Wood-dove\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" ownername=\"Allan Drewitt\"
      dateadded=\"1699197477\" license=\"0\" safety_level=\"0\" dateupload=\"1699197454\"
      datetaken=\"2023-07-24 11:07:56\" datetakengranularity=\"0\" datetakenunknown=\"0\"
      realname=\"Allan Drewitt\" originalsecret=\"258dcceb98\" originalformat=\"jpg\"
      media=\"photo\" media_status=\"ready\" url_sq=\"https://live.staticflickr.com/65535/53311401804_fb3024e089_s.jpg\"
      height_sq=\"75\" width_sq=\"75\" url_t=\"https://live.staticflickr.com/65535/53311401804_fb3024e089_t.jpg\"
      height_t=\"76\" width_t=\"100\" url_s=\"https://live.staticflickr.com/65535/53311401804_fb3024e089_m.jpg\"
      height_s=\"183\" width_s=\"240\" url_m=\"https://live.staticflickr.com/65535/53311401804_fb3024e089.jpg\"
      height_m=\"380\" width_m=\"500\" url_o=\"https://live.staticflickr.com/65535/53311401804_258dcceb98_o.jpg\"
      height_o=\"1935\" width_o=\"2544\" url_q=\"https://live.staticflickr.com/65535/53311401804_fb3024e089_q.jpg\"
      height_q=\"150\" width_q=\"150\" url_l=\"https://live.staticflickr.com/65535/53311401804_fb3024e089_b.jpg\"
      height_l=\"779\" width_l=\"1024\">\n\t\t<description>Turtur chalcospilos, Rubeho
      Mountains, Tanzania</description>\n\t</photo>\n\t<photo id=\"53310008612\" owner=\"54525206@N05\"
      secret=\"cc5df523f9\" server=\"65535\" farm=\"66\" title=\"Baltimoretrupial\"
      ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" ownername=\"Douglas Riverside-Movie-Pictures\"
      dateadded=\"1699193151\" license=\"0\" safety_level=\"0\" dateupload=\"1699193113\"
      datetaken=\"2023-04-16 10:38:01\" datetakengranularity=\"0\" datetakenunknown=\"0\"
      [...]
