interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupUser&url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2F25653675%40N00%2F
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<user
      id=\"25653675@N00\">\n\t<username>&lt;sunshyne&gt;</username>\n</user>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=25653675%40N00
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
      id=\"25653675@N00\" nsid=\"25653675@N00\" ispro=\"0\" is_deleted=\"0\" iconserver=\"21\"
      iconfarm=\"1\" path_alias=\"\" has_stats=\"0\" has_adfree=\"0\" has_free_standard_shipping=\"0\"
      has_free_educational_resources=\"0\">\n\t<username>&lt;sunshyne&gt;</username>\n\t<realname
      />\n\t<mbox_sha1sum>aeea2de72edeef77aeea8ca10d3581db782c7365</mbox_sha1sum>\n\t<location
      />\n\t<timezone label=\"Pacific Time (US &amp; Canada); Tijuana\" offset=\"-08:00\"
      timezone_id=\"PST8PDT\" timezone=\"5\" />\n\t<description>just me. .</description>\n\t<photosurl>https://www.flickr.com/photos/25653675@N00/</photosurl>\n\t<profileurl>https://www.flickr.com/people/25653675@N00/</profileurl>\n\t<mobileurl>https://m.flickr.com/photostream.gne?id=723379</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>1998-01-01
      12:01:32</firstdatetaken>\n\t\t<firstdate>1119115667</firstdate>\n\t\t<count>338</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname&method=flickr.people.getPublicPhotos&page=1&per_page=100&user_id=25653675%40N00
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"4\" perpage=\"100\" total=\"338\">\n\t<photo id=\"5702362816\"
      owner=\"25653675@N00\" secret=\"65a7d9a413\" server=\"5301\" farm=\"6\" title=\"red
      cable blanket\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"0\" safety_level=\"0\"
      dateupload=\"1304913350\" datetaken=\"2011-05-08 20:55:50\" datetakengranularity=\"0\"
      datetakenunknown=\"0\" ownername=\"&lt;sunshyne&gt;\" realname=\"\" tags=\"knit
      cable blanket homespun 2011 knit2011\" latitude=\"0\" longitude=\"0\" accuracy=\"0\"
      context=\"0\" me[...]
