interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname&method=flickr.photos.search&page=1&per_page=100&sort=interestingness-desc&tags=botany
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"4048\" perpage=\"100\" total=\"404762\">\n\t<photo id=\"53085621278\"
      owner=\"187931411@N08\" secret=\"8c116017a4\" server=\"65535\" farm=\"66\" title=\"Daisy
      Eyes\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"0\" safety_level=\"0\"
      dateupload=\"1690846695\" datetaken=\"2023-07-25 13:24:30\" datetakengranularity=\"0\"
      datetakenunknown=\"0\" ownername=\"ranmen44\" realname=\"Randy Mendelsohn\"
      originalsecret=\"ecaf891aa2\" originalformat=\"jpg\" media=\"photo\" media_status=\"ready\"
      url_sq=\"https://live.staticflickr.com/65535/53085621278_8c116017a4_s.jpg\"
      height_sq=\"75\" width_sq=\"75\" url_t=\"https://live.staticflickr.com/65535/53085621278_8c116017a4_t.jpg\"
      height_t=\"93\" width_t=\"100\" url_s=\"https://live.staticflickr.com/65535/53085621278_8c116017a4_m.jpg\"
      height_s=\"224\" width_s=\"240\" url_m=\"https://live.staticflickr.com/65535/53085621278_8c116017a4.jpg\"
      height_m=\"467\" width_m=\"500\" url_o=\"https://live.staticflickr.com/65535/53085621278_ecaf891aa2_o.jpg\"
      height_o=\"1960\" width_o=\"2100\" url_q=\"https://live.staticflickr.com/65535/53085621278_8c116017a4_q.jpg\"
      height_q=\"150\" width_q=\"150\" url_l=\"https://live.staticflickr.com/65535/53085621278_8c116017a4_b.jpg\"
      height_l=\"956\" width_l=\"1024\">\n\t\t<description />\n\t</photo>\n\t<photo
      id=\"53084020901\" owner=\"144882911@N08\" secret=\"e142044d05\" server=\"65535\"
      farm=\"66\" title=\"IMG_1441\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\"
      license=\"0\" safety_level=\"0\" dateupload=\"1690815875\" datetaken=\"2013-07-12
      07:38:33\" datetakengranularity=\"0\" datetakenunknown=\"0\" ownername=\"Paul_Paradis\"
      realname=\"Paul Paradis\" media=\"photo\" media_status=\"ready\" url_sq=\"https://live.staticflickr.com/65535/5308402[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
[...]
