interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupGroup&url=https%3A%2F%2Fwww.flickr.com%2Fgroups%2Fbirdguide
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<group
      id=\"42637302@N00\">\n\t<groupname>Field Guide: Birds of the World</groupname>\n</group>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?group_id=42637302%40N00&method=flickr.groups.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<group
      id=\"42637302@N00\" nsid=\"42637302@N00\" path_alias=\"birdguide\" iconserver=\"7332\"
      iconfarm=\"8\" lang=\"\" ispoolmoderated=\"0\" photo_limit_opt_out=\"0\" eighteenplus=\"0\"
      invitation_only=\"0\">\n\t<name>Field Guide: Birds of the World</name>\n\t<description>&lt;i&gt;This
      is not just another group for people to post random photos of birds, but it
      is an attempt to build an online &lt;b&gt;Identification Guide&lt;/b&gt; of
      the birds of the world. The &lt;b&gt;features&lt;/b&gt; of the bird must be
      clearly visible in your photo and the bird must be &lt;b&gt;positively identified&lt;/b&gt;
      and &lt;b&gt;&lt;u&gt;tagged&lt;/u&gt; with its &lt;u&gt;scientific (Latin)
      name&lt;/u&gt;&lt;/b&gt; (see below).&lt;/i&gt;\n\nBEF[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Cowner_name%2Cpath_alias%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o&group_id=42637302%40N00&method=flickr.groups.pools.getPhotos&page=1&per_page=10
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"21146\" perpage=\"10\" total=\"211457\">\n\t<photo id=\"53262429080\"
      owner=\"150942226@N07\" secret=\"d1d4ef0046\" server=\"65535\" farm=\"66\" title=\"Taiwan
      Scimitar-babbler\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" ownername=\"longanjiang\"
      dateadded=\"1698142727\" license=\"0\" dateupload=\"1697449717\" datetaken=\"2023-10-08
      08:34:14\" datetakengranularity=\"0\" datetakenunknown=\"0\" media=\"photo\"
      media_status=\"ready\" url_sq=\"https://live.staticflickr.com/65535/53262429080_d1d4ef0046_s.jpg\"
      h[...]
