interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=50567413447
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
      id=\"50567413447\" secret=\"3ee6d810e8\" server=\"65535\" farm=\"66\" dateuploaded=\"1604519117\"
      isfavorite=\"0\" license=\"7\" safety_level=\"0\" rotation=\"0\" originalsecret=\"afec74ef45\"
      originalformat=\"jpg\" views=\"2181\" media=\"photo\">\n\t<owner nsid=\"49487266@N07\"
      username=\"San Diego Air &amp; Space Museum Archives\" realname=\"SDASM Archives\"
      location=\"\" iconserver=\"4070\" iconfarm=\"5\" path_alias=\"sdasmarchives\">\n\t\t<gift
      gift_eligible=\"\" new_flow=\"1\" />\n\t</owner>\n\t<title>KSC-98PC-1602_2</title>\n\t<description>A
      young, male bobcat balances gingerly on telephone pole cables next to the south-bound
      lane of Kennedy Parkway. The cat is nocturnal and is seldom observed during
      the day unless scared from its daytime shelter in the grass or beneath a shrub.
      Usually found in broken sections of heavily wooded or brushy country, bobcats
      are reported as common in scrub strand and roadside or weedy grass habitats
      at KSC. The bobcat is known to inhabit mangrove habitats and will readily swim
      across small bodies of water. The bobcat occurs across southern Canada then
      south over the entire United States, except for the midwestern corn belt, to
      southern Mexico. It is the last large mammalian predator remaining on KSC. Kennedy
      Space Center is located in the Merritt Island National Wildlife Refuge, which
      is home to many species of wild animals, including the bobcat.  Image from NASA,
      originally appeared on this site: &lt;a href=&quot;https://science.ksc.nasa.gov/gallery/photos/&quot;
      rel=&quot;noreferrer nofollow&quot;&gt;science.ksc.nasa.gov/gallery/photos/&lt;/a&gt;
      \ Reposted by  &lt;a href=&quot;http://www.sandiegoairandspace.org/library/stillimages.html&quot;
      rel=&quot;noreferrer nofollow&quot;&gt;San Diego Air and Space Museum &lt;/a&gt;</description>\n\t<visibility
      ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1604519117\"
      taken=\"2020-10-19 16:10:48\" takengranularity=\"0\" takenunknown=\"1\" lastupdate=\"1634688342\"
      />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
      cancomment=\"1\" canaddmeta=\"1\" />\n\t<usage candownload=\"1\" canblog=\"0\"
      canprint=\"0\" canshare=\"1\" />\n\t<comments>0</comments>\n\t<notes />\n\t<people
      haspeople=\"0\" />\n\t<tags />\n\t<urls>\n\t\t<url type=\"photopage\">https://www.flickr.com/photos/sdasmarchives/50567413447/</url>\n\t</urls>\n</photo>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=50567413447
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
      canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\" width=\"75\"
      height=\"75\" source=\"https://live.staticflickr.com/65535/50567413447_3ee6d810e8_s.jpg\"
      url=\"https://www.flickr.com/photos/sdasmarchives/50567413447/sizes/sq/\" media=\"photo\"
      />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\" source=\"https://live.staticflickr.com/65535/50567413447_3ee6d810e8_q.jpg\"
      url=\"https://www.flickr.com/photos/sdasmarchives/50567413447/sizes/q/\" media=\"photo\"
      />\n\t<size label=\"Thumbnail\"[...]
