interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname&method=flickr.photos.search&page=1&per_page=100&sort=interestingness-desc&tags=botany
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"4123\" perpage=\"100\" total=\"412282\">\n\t<photo id=\"21838886804\"
      owner=\"131396549@N02\" secret=\"d9ef0e9c64\" server=\"639\" farm=\"1\" title=\"Authumn
      leaf\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"0\" safety_level=\"0\"
      dateupload=\"1445777301\" datetaken=\"2015-10-21 11:41:49\" datetakengranularity=\"0\"
      datetakenunknown=\"0\" ownername=\"trankoket\" realname=\"Kent Dahlberg\" originalsecret=\"7427825741\"
      originalformat=\"jpg\" media=\"photo\" media_status=\"ready\" url_sq=\"https://live.staticflickr.com/639/21838886804_d9ef0e9c64_s.jpg\"
      height_sq=\"75\" width_sq=\"75\" url_t=\"https://live.staticflickr.com/639/21838886804_d9ef0e9c64_t.jpg\"
      height_t=\"100\" width_t=\"66\" url_s=\"https://live.staticflickr.com/639/21838886804_d9ef0e9c64_m.jpg\"
      height_s=\"240\" width_s=\"159\" url_m=\"https://live.staticflickr.com/639/21838886804_d9ef0e9c64.jpg\"
      height_m=\"500\" width_m=\"331\" url_o=\"https://live.staticflickr.com/639/21838886804_7427825741_o.jpg\"
      height_o=\"2000\" width_o=\"1325\" url_q=\"https://live.staticflickr.com/639/21838886804_d9ef0e9c64_q.jpg\"
      height_q=\"150\" width_q=\"150\" url_l=\"https://live.staticflickr.com/639/21838886804_d9ef0e9c64_b.jpg\"
      height_l=\"1024\" width_l=\"678\">\n\t\t<description>a three with beutiful autumn
      leaf many color</description>\n\t</photo>\n\t<photo id=\"8044232301\" owner=\"61021753@N02\"
      secret=\"2e8d8c431a\" server=\"8310\" farm=\"9\" title=\"n97_w1150\" ispublic=\"1\"
      isfriend=\"0\" isfamily=\"0\" license=\"10\" safety_level=\"0\" dateupload=\"1349114292\"
      datetaken=\"2012-10-01 13:58:12\" datetakengranularity=\"0\" datetakenunknown=\"0\"
      ownername=\"BioDivLibrary\" realname=\"Biodiversity Heritage Library\" originalsecret=\"54[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
