interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupGroup&url=https%3A%2F%2Fwww.flickr.com%2Fgroups%2Fbirdguide
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<group
      id=\"42637302@N00\">\n\t<groupname>Field Guide: Birds of the World</groupname>\n</group>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-6630dd16-3dbc300a004fdb0f2a1c2cd6;Root=1-6630dd16-0c1db13e5971fc296432181b
      x-server:
      - serverless-proxy-10.78.4.5
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname%2Cpath_alias%2Ccount_comments%2Ccount_views&group_id=42637302%40N00&method=flickr.groups.pools.getPhotos&page=1&per_page=100
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"2143\" perpage=\"100\" total=\"214264\">\n\t<photo id=\"53407106320\"
      owner=\"114700825@N07\" secret=\"36961674f1\" server=\"65535\" farm=\"66\" title=\"243.0
      Monnikswielewaal\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" ownername=\"dirkvanmourik\"
      dateadded=\"1714478282\" license=\"0\" safety_level=\"0\" dateupload=\"1702939029\"
      datetaken=\"2008-02-23 11:08:52\" datetakengranularity=\"0\" datetakenunknown=\"0\"
      realname=\"Dirk van Mourik\" count_views=\"82\" count_comments=\"0\" tags=\"abyssinianblackheadedoriole
      afrika aves awassa bird ethiopia ethiopi\xEB monnikswielewaal oiseaux oriolusmonacha
      vogel wabeshebelleno2hotel\" latitude=\"0\" longitude=\"0\" accuracy=\"0\" context=\"0\"
      media=\"photo\" media_status=\"ready\" url_sq=\"https://live.staticflickr.com/65535/53407106320_36961674f1_s.jpg\"
      height_sq=\"75\" width_sq=\"75\" url_t=\"https://live.staticflickr.com/65535/53407106320_36961674f1_t.jpg\"
      height_t=\"56\" width_t=\"100\" url_s=\"https://live.staticflickr.com/65535/53407106320_36961674f1_m.jpg\"
      height_s=\"135\" width_s=\"240\" url_m=\"https://live.staticflickr.com/65535/53407106320_36961674f1.jpg\"
      height_m=\"281\" width_m=\"500\" url_q=\"https://live.staticflickr.com/65535/53407106320_36961674f1_q.jpg\"
      height_q=\"150\" width_q=\"150\" url_l=\"https://live.staticflickr.com/65535/53407106320_36961674f1_b.jpg\"
      height_l=\"576\" width_l=\"1024\" pathalias=\"dirks_birds\">\n\t\t<description>Monnikswielewaal,
      Oriolus monacha, Abyssinian Black-headed Oriole</description>\n\t</photo>\n\t<photo
      id=\"53688891951\" owner=\"69493556@N07\" secret=\"bdf478b466\" server=\"65535\"
      farm=\"66\" title=\"Neddicky (Cisticola fulvicapilla)\" ispublic=\"1\" isfriend=\"0\"
      isfamily=\"0\" ownername=\"Sheldrickfalls\" dateadded=\"1714469655\" license=\"0\"
      safety_level=\"0\" dateupload=\"1714469026\" datetaken=\"2024-03-16 04:40:37\"
      datetakengranularity=\"0\" dateta[...]
