interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupUser&url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Fblueminds%2F
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<user
      id=\"47265398@N04\">\n\t<username>Alexander Lauterbach Photography</username>\n</user>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-6630dd72-1ad3bac01e8237cd1f19ab52;Root=1-6630dd72-703b2b7849a14e2e53b408b6
      x-server:
      - serverless-proxy-10.78.13.106
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=47265398%40N04
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
      id=\"47265398@N04\" nsid=\"47265398@N04\" ispro=\"0\" is_deleted=\"0\" iconserver=\"5462\"
      iconfarm=\"6\" path_alias=\"blueminds\" has_stats=\"0\" has_adfree=\"0\" has_free_standard_shipping=\"0\"
      has_free_educational_resources=\"0\">\n\t<username>Alexander Lauterbach Photography</username>\n\t<realname>Alexander
      Lauterbach</realname>\n\t<location>Kassel, Germany</location>\n\t<timezone label=\"Amsterdam,
      Berlin, Bern, Rome, Stockholm, Vienna\" offset=\"+01:00\" timezone_id=\"Europe/Amsterdam\"
      timezone=\"28\" />\n\t<description>Hi, I&#039;m Alex!\nI&#039;m a self-taught
      hobby photographer from Germany with a passion for landscape and cityscape photography.\n\nI\u2019ve
      started with digital photography and my first DSLR back in 2004. In the past
      couple of years, I\u2019ve more and more fallen in love with landscape photography.
      For me, photography became the best hobby I can imagine because of the combination
      of nature and creativity.\nI\u2019m always looking for nice moments and conditions[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname%2Cpath_alias%2Ccount_comments%2Ccount_views&method=flickr.people.getPublicPhotos&page=1&per_page=100&user_id=47265398%40N04
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"4\" perpage=\"100\" total=\"370\">\n\t<photo id=\"53606199269\"
      owner=\"47265398@N04\" secret=\"8e8acbf554\" server=\"65535\" farm=\"66\" title=\"world
      in the clouds\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"0\" safety_level=\"0\"
      dateupload=\"1711212497\" datetaken=\"2023-06-12 21:09:32\" datetakengranularity=\"0\"
      datetakenunknown=\"0\" ownername=\"Alexander Lauterbach Photography\" realname=\"Alexander
      Lauterbach\" count_views=\"20426\" count_comments=\"34\" tags=\"teneriffa tenerife
      te[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
   [...]
