<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <title>flinumeratr</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='phk3iud.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    {% include "components/favicons.html" %}
  </head>

  <body>
    {% include "components/header.html" %}

    <main>
      {% include "components/errors.html" %}

      {% block content %}{% endblock %}
    </main>

    {% include "components/footer.html" %}
  </body>
</html>
