{% extends "base.html" %}

{% block content %}

<style>
	#photos {
		list-style: none;
	    padding: 0;
	    margin:  0;
		
	}
	
	#photos li {
		display: grid;
		grid-gap: 1em;
		
		grid-template-columns: 500px auto;		
	}
	
	#photos .photo {
		grid-column: 1 / 2;
		grid-row: 1 / 1;
	}
  
	#photos .metadata {
		grid-column: 2 / 2;
		grid-row: 1 / 1;
	}
	
  @media screen and (max-width: 700px) {
  	#photos li {
  		grid-template-columns: auto;		
      grid-gap: 10px;
  	}
	
  	#photos .photo {
  		grid-column: 1 / 1;
  		grid-row: 1 / 2;
  	}
    
  	#photos .metadata {
  		grid-column: 1 / 2;
  		grid-row: 2 / 2;
  	}
    
    h4 {
      margin-top: 0;
    }
  }
  
	#photos .photo img {
		max-width: 100%;
	}
  
	
  
  #photos .metadata p {
    font-size: 16px;
  }
  
  h4 {
    margin-bottom: 0;
  }
  
  h5 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
</style>

<p>
  This URL was identified as a <strong>{{ data.type }}</strong>.
</p>

<ul id="photos">
  
{% for p in data.photos %}
	<li>
		<a class="photo" href="{{ p.url }}">
      <img src="{{ p.sizes | image_at("Medium") }}">
    </a>
		<div class="metadata">
      <h4><a href="{{ p.url }}">{{ p.title or "Untitled" }}</a></h4>
      <h5>{{ p.owner }}</h5>
      <p>
        taken {{ p.date_taken.strftime("%-d %B %Y") }}<br/>
        posted {{ p.date_posted.strftime("%-d %B %Y") }}
      </p>
			<p>
        <a href="{{ p.license.url }}">{{ p.license.name }}</a>
      </p>
		</div>
	</li>
{% endfor %}
</ul>

<p>
	<a href="/">go back to the start &rarr;</a>
</p>

{% endblock %}
