{% extends "base.html" %}

{% block content %}

<div id="intro">
  <h2>
    Welcome to the flinumeratr.
  </h2>

  <p>
    This is a toy to help you pull photos out of Flickr.
  </p>
</div>

{% include "_form.html" %}

<p>Here are examples of the kind of URLs that’ll give you photos:</p>

<ul>
  <li>A single photo:
    <ul>
      {{ "https://www.flickr.com/photos/schlesinger_library/13270291833" | example_url | safe }}
      {{ "https://www.flickr.com/photos/sdasmarchives/50567413447" | example_url | safe }}
    </ul>
  </li>
  <li>An album:
    <ul>
      {{ "https://www.flickr.com/photos/aljazeeraenglish/albums/72157626164453131" | example_url | safe }}
      {{ "https://www.flickr.com/photos/spike_yun/albums/72157677773252346" | example_url | safe }}
    </ul>
  </li>
  <li>A member’s photostream:
    <ul>
      {{ "https://www.flickr.com/people/blueminds/" | example_url | safe }}
      {{ "https://www.flickr.com/photos/obamawhitehouse/" | example_url | safe }}
    </ul>
  </li>
  <li>A group:
    <ul>
      {{ "https://www.flickr.com/groups/lomo/pool/" | example_url | safe }}
      {{ "https://www.flickr.com/groups/birdguide/" | example_url | safe }}
    </ul>
  </li>
  <li>A gallery:
    <ul>
      {{ "https://www.flickr.com/photos/george/galleries/72157621848008117/" | example_url | safe }}
      {{ "https://www.flickr.com/photos/bunnyfrogs/galleries/72157628088497125/" | example_url | safe }}
    </ul>
  </li>
  <li>A tag:
    <ul>
      {{ "https://flickr.com/photos/tags/thatch/" | example_url | safe }}
      {{ "https://flickr.com/photos/tags/auroraborealis/" | example_url | safe }}
    </ul>
  </li>
</ul>
{% endblock %}
