{% extends "base.html" %}

{% block content %}

{% include "_errors.html" %}

<form action="images">
	<label for="flickr_url">Flickr URL</label>
  
	<input
    type="url"
    name="flickr_url"
    placeholder="https://www.flickr.com/photos/…"
    {% if flickr_url %}
    value="{{ flickr_url }}"
    {% endif %}
  />
	
	<input type="submit" value="Go!" />
	
</form>

<hr/>

<h3>Examples</h3>
<ul>
  <li>Look up a single image:
    <ul>
      {{ "https://www.flickr.com/photos/coast_guard/32812033543" | example_url | safe }}
      {{ "https://www.flickr.com/photos/sdasmarchives/50567413447" | example_url | safe }}
    </ul>
  </li>
  <li>Look up an album:
    <ul>
      {{ "https://www.flickr.com/photos/cat_tac/albums/72157666833379009" | example_url | safe }}
      {{ "https://www.flickr.com/photos/26602223@N00/albums/72157690631188766" | example_url | safe }}
    </ul>
  </li>
  <li>Look up a user:
    <ul>
      {{ "https://www.flickr.com/people/blueminds/" | example_url | safe }}
      {{ "https://www.flickr.com/photos/george/" | example_url | safe }}
    </ul>
  </li>
  <li>Look up a group:
    <ul>
      {{ "https://www.flickr.com/groups/slovenia/pool/" | example_url | safe }}
      {{ "https://www.flickr.com/groups/boroughmarket/" | example_url | safe }}
    </ul>
  </li>
  <li>Look up a gallery:
    <ul>
      {{ "https://www.flickr.com/photos/flickr/galleries/72157722096057728/" | example_url | safe }}
      {{ "https://www.flickr.com/photos/bunnyfrogs/galleries/72157628088497125/" | example_url | safe }}
    </ul>
  </li>
  <li>Look up a tag:
    <ul>
      {{ "https://flickr.com/photos/tags/ukulele/" | example_url | safe }}
      {{ "https://flickr.com/photos/tags/corkscrew/" | example_url | safe }}
    </ul>
  </li>
</ul>
{% endblock %}