{% extends "base.html" %}

{% block content %}
<form action="images">
	<label for="flickr_url">Flickr URL</label>
	<input type="url" name="flickr_url"/>
	
	<input type="submit" value="Go!" />
	
</form>

<hr/>

<h3>Examples</h3>
<ul>
  <li>Look up a single image:
    <ul>
      {{ "https://www.flickr.com/photos/coast_guard/32812033543" | example_url | safe }}
    </ul>
  </li>
  <li>Look up an album:
    <ul>
      {{ "https://www.flickr.com/photos/cat_tac/albums/72157666833379009" | example_url | safe }}
      {{ "https://www.flickr.com/photos/britishlibrary/albums/72157638792012173" | example_url | safe }}
    </ul>
  </li>
  <li>Look up a user:
    <ul>
      {{ "https://www.flickr.com/people/blueminds/" | example_url | safe }}
      {{ "https://www.flickr.com/photos/hansfotografeert/" | example_url | safe }}
    </ul>
  </li>
  <li>Look up a group:
    <ul>
      {{ "https://www.flickr.com/groups/slovenia/pool/" | example_url | safe }}
      {{ "https://www.flickr.com/groups/missile/" | example_url | safe }}
    </ul>
  </li>
  <li>Look up a gallery:
    <ul>
      {{ "https://www.flickr.com/photos/flickr/galleries/72157722096057728/" | example_url | safe }}
      {{ "https://www.flickr.com/photos/bunnyfrogs/galleries/72157628088497125/" | example_url | safe }}
    </ul>
  </li>
  <li>Look up a tag:
    <ul>
      {{ "https://flickr.com/photos/tags/tennis/" | example_url | safe }}
    </ul>
  </li>
</ul>
{% endblock %}