{% extends "base.html" %}

{% block content %}

{% include "_form.html" %}

<style>
  form {
    margin-bottom: 1em;
  }

	#photos {
		list-style: none;
    padding: 0;
    margin:  0;
	}

	#photos li {
		display: grid;
		grid-gap: 1em;

		grid-template-columns: 500px auto;
	}

	#photos .photo {
		grid-column: 1 / 2;
		grid-row: 1 / 1;
	}

	#photos .metadata {
		grid-column: 2 / 2;
		grid-row: 1 / 1;
	}

  @media screen and (max-width: 700px) {
  	#photos li {
  		grid-template-columns: auto;
      grid-gap: 10px;
      margin-bottom: 3em;
  	}

  	#photos .photo {
  		grid-column: 1 / 1;
  		grid-row: 1 / 2;
      margin-left: -1em;
      margin-right: -1em;
      
      text-align: center;
  	}

  	#photos .metadata {
  		grid-column: 1 / 2;
  		grid-row: 2 / 2;
  	}

    h4 {
      margin-top: 0;
    }
  }

	#photos .photo img {
		max-width: 100%;
	}

  #photos .metadata p {
    font-size: 16px;
  }

  h4 {
    margin-bottom: 0;
  }

  h5 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .infobox {}
</style>

{% if parsed_url.type == "user" %}
  {% set user = photo_data.photos[0].owner %}

  <p id="infobox">
    This URL shows the photos taken by
    <a href="{{ user.profile_url }}">{{ user.realname or user.username }}</a>,
    who has posted {{ photo_data.total_photos | intcomma }}&nbsp;photo{% if photo_data.total_photos != 1 %}s{% endif %}</span>.
  </p>
{% elif parsed_url.type == "album" %}
  <p id="infobox">
    This URL shows the photos in the <a href="{{ flickr_url }}">{{ photo_data.album.title }}</a> album, which was created by <a href="/see_photos?flickr_url={{ photo_data.album.owner.profile_url }}">{{ photo_data.album.owner.realname or photo_data.album.owner.username }}</a>.
    It contains {{ photo_data.total_photos | intcomma }}&nbsp;photo{% if photo_data.total_photos != 1 %}s{% endif %}</span>.
  </p>
{% elif parsed_url.type == "group" %}
  <p id="infobox">
    This URL shows the photos in the <a href="{{ flickr_url }}">{{ photo_data.group.name }}</a> group pool, which contains {{ photo_data.total_photos | intcomma }}&nbsp;photo{% if photo_data.total_photos != 1 %}s{% endif %}</span>.
  </p>
{% elif parsed_url.type == "gallery" %}
  <p id="infobox">
    This URL shows the photos in the <a href="{{ flickr_url }}">{{ photo_data.gallery.title }}</a> gallery,
    which contains {{ photo_data.total_photos | intcomma }}&nbsp;photo{% if photo_data.total_photos != 1 %}s{% endif %}</span>.
  </p>
{% elif parsed_url.type == "tag" %}
  <p id="infobox">
    This URL shows photos tagged with <a href="{{ flickr_url }}">{{ parsed_url.tag }}</a>.
    
    {#
      We don't include the photo count on tags, because it's pretty inconsistent.
      The number can vary by several hundred or thousand, depending on the popularity
      of the tag -- this is probably due to the hard problem of searching that many
      images on the Flickr side.
      
      Rather than include an obviously inconsistent count, we just omit it for tag pages.
    #}
  </p>
{% elif parsed_url.type == "single_photo" %}
  <p id="infobox">
    This URL is <a href="{{ flickr_url }}">a single photo</a> on Flickr.
  </p>
{% endif %}

<ul id="photos">
  
{% if parsed_url.type == "single_photo" %}
  {% set photos = [photo_data] %}
{% else %}
  {% set photos = photo_data.photos %}
{% endif %}

{% for p in photos %}
	<li>
		<a class="photo" href="{{ p.url }}">
      <img src="{{ p.sizes | image_at("Medium") }}">
    </a>
		<div class="metadata">
      <h4><a href="{{ p.url }}">{{ p.title or "Untitled" }}</a></h4>
<!-- TODO: parsed_url.type = user/album, not people/photoset -->
      {% if parsed_url.type != "people" and parsed_url.type != "photoset" %}
        <h5 class="owner">
          by <a href="/see_photos?flickr_url={{ p.owner.profile_url }}">{{ p.owner.realname or p.owner.username }}</a>
        </h5>
      {% endif %}
      <p>
        {% if not p.date_taken.unknown %}
        taken {{ p.date_taken | render_date_taken }}<br/>
        {% endif %}
        uploaded on {{ p.date_posted.strftime("%B %-d, %Y") }}
      </p>
			<div class="license">
        {% include "_license.html" %}
      </div>
		</div>
	</li>
{% endfor %}
</ul>

<p>
  <a href="{{ url_for('index') }}">Home</a>
</p>

{% endblock %}
