interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupUser&url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Fblueminds
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<user
      id=\"47265398@N04\">\n\t<username>Alexander Lauterbach Photography</username>\n</user>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=47265398%40N04
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
      id=\"47265398@N04\" nsid=\"47265398@N04\" ispro=\"0\" is_deleted=\"0\" iconserver=\"5462\"
      iconfarm=\"6\" path_alias=\"blueminds\" has_stats=\"0\" has_adfree=\"0\" has_free_standard_shipping=\"0\"
      has_free_educational_resources=\"0\">\n\t<username>Alexander Lauterbach Photography</username>\n\t<realname>Alexander
      Lauterbach</realname>\n\t<location>Kassel, Germany</location>\n\t<timezone label=\"Amsterdam,
      Berlin, Bern, Rome, Stockholm, Vienna\" offset=\"+01:00\" timezone_id=\"Europe/Amsterdam\"
      timezone=\"28\" />\n\t<description>Hi, I&#039;m Alex!\nI&#039;m a self-taught
      hobby photographer from Germany with a passion for landscape and cityscape photography.\n\nI\u2019ve
      started with digital photography and my first DSLR back in 2004. In the past
      couple of years, I\u2019ve more and more fallen in love with landscape photography.
      For me, photography became the best hobby I can imagine because of the combination
      of nature and creativity.\nI\u2019m always looking for nice moments and conditions[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname&method=flickr.people.getPublicPhotos&page=1&per_page=10&user_id=47265398%40N04
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"37\" perpage=\"10\" total=\"365\">\n\t<photo id=\"53257787385\"
      owner=\"47265398@N04\" secret=\"ed782303af\" server=\"65535\" farm=\"66\" title=\"Magical
      morning at Orangerie Kassel\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"0\"
      safety_level=\"0\" dateupload=\"1697296492\" datetaken=\"2023-09-28 06:55:29\"
      datetakengranularity=\"0\" datetakenunknown=\"0\" ownername=\"Alexander Lauterbach
      Photography\" realname=\"Alexander Lauterbach\" media=\"photo\" media_status=\"ready\"
      url_sq=\"https://[...]
